.crew-expl {
    @include explanation;

    @include respond-up("desktop") {
        justify-content: center;
        padding-top: $sp-0;
        width: 50%;
    }
}

.page-header {
    @include font($font-family: $ff-primary, $font-size: clamp($fs-11, 4vw, $fs-7));
    @include flex-container;

    align-items: center;
    align-self: stretch;
    gap: $sp-200;
    text-transform: uppercase;
    
    @include respond-up("desktop") {
        align-items: flex-start;
    }
}

.role {
    font-size: clamp($fs-10, 3vw, $fs-8);
    text-align: center;
    opacity: 0.5;

    @include respond-up("tablet") {
        font-size: clamp($fs-8, 3vw, $fs-6);
    }
}

.desc.crew { height: 10.25rem; }

.crew-name, .term-name {
    @include font($font-family: $ff-primary, $font-size: clamp($fs-8, 4vw, $fs-5));

    @include respond-up("desktop") {
        font-size: clamp($fs-5, 4vw, $fs-4);
    }
}

.crew-img {
    justify-content: center;
    align-items: center;
    width: clamp(16.9544rem, 40vw, 27.92488rem);
    height: 100%;

    @include respond-up("tablet") {
        width: clamp(27.92488rem, 64vw, 33.7051rem);
        object-position: 0 0%;
    }

    img {
        flex-shrink: 0;
        mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
        height: auto;
     
        
        @include respond-up("desktop") {
            max-height: 42.25rem;
        }
    }
}