@include respond-up("desktop") {
    .content.tech {
        flex-direction: row-reverse;
        max-width: 79.6875rem;
    }

    .main-content.tech {
        max-width: 79.6875rem;
        justify-self: flex-end;
    }
}

.tech-images {
    width: 100vw;
    padding-top: 4rem;
    height: clamp(22.3125rem, 64vw, 37.5rem);

    @include respond-up("desktop") { 
        padding-top: 0; 
        max-width: 38rem;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}

.bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    gap: clamp($sp-500, 5vw, $sp-800);

    @include respond-up("desktop") { flex-direction: row; }
}