$sp-0: 0;
$sp-25: 0.125rem; // 2px / 25
$sp-50: 0.25rem; // 4px / 50
$sp-100: 0.5rem; // 8px / 100
$sp-150: 0.75rem; // 12px / 150
$sp-200: 1rem; // 16px / 200
$sp-300: 1.5rem; // 24px / 300
$sp-400: 2rem; // 32px / 400
$sp-500: 2.5rem; // 40px / 500
$sp-600: 3rem; // 48px / 600
$sp-800: 4rem; // 64px / 800
$sp-1000: 5rem; // 80px / 1000
$sp-1200: 6rem; // 96px / 1200
$sp-1600: 8rem; // 128px / 1600